/*------------------------------------*\
	PROJECT TITLE
\*------------------------------------*/

body, html {
	height: 100%;
	font-family: 'Roboto', sans-serif;
}

/* STICKY FOOTER
-----------------------------------------*/

.page {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -250px;
}

footer, .push {
	height: 250px;
}

footer {
	background-color: rgba(0,0,0,0.5);
}